# build outputs
**/bin/
**/obj/
**/publish/
publish-test/

# IDE
.vs/
**/.vs/
.idea/
.vscode/

# git
.git/
.github/

# logs
*.log
**/*.log

# node / frontend
node_modules/
**/node_modules/
.nuxt/
**/.nuxt/
.output/
**/.output/
dist/
**/dist/

# docker exports
**/*.tar
docker-compose.override.yml

# temp
tmp/
temp/
**/tmp/
**/temp/

# OS
.DS_Store
Thumbs.db