# build outputs
**/bin/
**/obj/

# IDE
.vs/
**/.vs/
.idea/
.vscode/

# git
.git/
.github/

# logs
*.log

# node
node_modules/

# docker
**/*.tar
docker-compose*
Dockerfile*

# temp
tmp/
temp/

# OS
.DS_Store
Thumbs.db